**Question 1:**
Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only

In [13]:
s =str(input(print("Enter email id: ")))
def company_name():
  a=s
  a=a.split("@")
  b=a[1]
  b=b.split(".")
  c=b[0]
  print("company name is:",c)

company_name()

Enter email id:
pratik@gmail.com
company name is: gmail

**Question 2:**
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically

In [34]:
l=str(input(print("type numerous words using comma:")))
m=l.split(",")
m.sort()
print(*m ,sep=",")

type numerous words using comma:
cat,bat,dog,apple
apple,bat,cat,dog

**Question 3:**
Create your own Jupyter Notebook for Sets

>sets are unordered and unindexed collection,once the set is created it cannot be edited rather we can add or update the set.
>we can use for loop uintegrate along with'in' to check the content in the set.

In [19]:
s1 = {"newspaper", "magazine", "comic"}
print(s1)
for x in s1:
  print(x)
print("comic" in s1)
s1.add("novel") #use to add single item at a time.
print(s1)
s1.update(["story books","educational books","research paper"]) #multipe items can be added to the set
print(s1)
s1.discard("educational books") #if item is not present in the set it will not show error but remove will show in the same scenario.
s2 =set(("notebook","pencil","comic"))
print(s1.union(s2)) #using union and update will delete duplicate items.
s1.clear()
print(s1)

{'newspaper', 'comic', 'magazine'}
newspaper
comic
magazine
True
{'newspaper', 'comic', 'novel', 'magazine'}
{'research paper', 'comic', 'story books', 'newspaper', 'educational books', 'magazine', 'novel'}
{'story books', 'pencil', 'newspaper', 'notebook', 'magazine', 'research paper', 'novel', 'comic'}
set()

**Question 4:**
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

In [4]:
n= input(print("for a range 1 to n enter value of n:"))
l1 = set((input(print("enter numbers in the range with space:"))))
l1.discard(" ")
l1 =list(l1)
l3 =[]
for i in l1:
  l3.append(int(i))
l3 =set((l3))
l2 =set((range(1,int(n))))
diff= l2.difference(l3)
diff =list(diff)
l3 =list(l3)
l3.sort()
print("Input :")
print(*l3,sep=" ")
print("Output :")
print(*diff,sep=" ")

for a range 1 to n enter value of n:
10
enter numbers in the range with space:
2 4 5 6 7 8 9
Input :
2 4 5 6 7 8 9
Output :
1 3

**Question 5:**
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

In [59]:
l =[12,24,35,24,88,120,155,88,120,155]
m =set((l))
m =list(m)
m.sort()
print("output :")
print(*m,sep=" ")

output :
12 24 35 88 120 155